In [ ]:
import psycopg2
import re
import matplotlib.pyplot as plt
import os
import pandas as pd

In [ ]:
try:
    conn = psycopg2.connect("dbname='spatial' user='postgres' host='localhost' password='111111'")
except:
    print("cant connect to the database")

In [ ]:
cur = conn.cursor()
cur2 = conn.cursor()
cur3 = conn.cursor()
input_altkey = 3565215

In [ ]:
sql = "select parid::integer from volusia.parcel p where geom is not null" # limit 10"
print('SQL: ', sql)
cur.execute(sql)

SQL:  select parid::integer from volusia.parcel p where geom is not null

In [ ]:
i=0
row = cur.fetchone()
while row is not None:
    i = i + 1
    parid = str(row[0])
    sql2 = "select p.parid::integer, p.geom, ST_Distance(p.geom, (select p2.geom from volusia.parcel p2 where p2.parid=" + parid + "))/5280  from volusia.parcel p where p.luc='2000' order by p.geom <-> (select p2.geom from volusia.parcel p2 where p2.parid=" + parid + ") limit 1;"
    ###sql2 = "select p.parid::integer, p.geom, ST_Distance(p.geom, (select p2.geom from volusia.parcel p2 where p2.parid=" 
    ### + parid + "))/5280  from volusia.parcel p where p.luc='2000' order by p.geom <-> (select p2.geom 
    ### from volusia.parcel p2 where p2.parid=" + parid + ") limit 1;"
    cur2.execute(sql2)
    row2 = cur2.fetchone()
    parid2 = str(row2[0])
    distance = row2[2]
    sql3 = "update volusia.parcel p1 set gcdistance = " + str(distance) + " where p1.parid=" + parid + ";"
    cur3.execute(sql3)
    # print(sql3)
    if i%10000 == 0:
        print(i)
        conn.commit()
    row = cur.fetchone()

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000